/* * {
    border: 1px solid red;
} */

body {
    display:flex;
    flex-direction:column;
    margin: 0px; 
    padding: 0px

}

.header {
    background-color: #1f2937;
    min-height: 25px;
    display: flex;
    justify-content: space-between;
}

.header_left{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 100px;
    color: #f9faf8;
    font-size: 24px;
    max-width: 150px;
    text-align: center;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 20px
}

.header_link {
    vertical-align: middle;
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
    
}

.section_1 {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    gap: 50px;
}

.section_1_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;

}

.section_1_left, .section_1_right {
    margin-top: 40px;
    margin-bottom: 30px;
}

.section_1_left_title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.section_1_left_text {
    color: #e5e7eb;
    font-size: 18px;
}

.section_1_left_button {
    align-items: flex-start;
    width: 35%;
    height: 35px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}

.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}